.bestSuggestionContainer{
    margin-top: 40px;
    position: relative;
}

.bestSuggestionContainerSlide{
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 1365px;
}

.carouselButton{
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 16px rgba(61, 63, 70, 0.15);
    top:calc(50% - 40px/2);
    right: 110px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.bestSuggestionContainerTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 1220px;
}

.bestSuggestionContainerTitle span{
    font-size: 24px;
}

.bestSuggestionContainerTitle button{
    font-size: 14px;
    color: #3BC13D;
    background: none;
    border: none;
}

.bestSuggestionPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 375px;
    border: 1px #F5F5F5 solid;
    border-radius: 12px;
 }

.bestSuggestionPost button{
    display: flex;
}

.bestSuggestionPostHead{
    height: 184px;
    padding: 19px 8px 0 8px;
    position: relative;
}

.PostHeadFavorites{
    position: absolute;
    top: 152px;
    left: -14px;
}

.bestSuggestionPostHead div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    width: 58px;
    height: 28px;
    top: 147px;
    right: -21px;
    border-radius: 20px;
    background-color: white;

}

.bestSuggestionPostHead span{
    color: #F58735;
    font-size: 14px;
}

.bestSuggestionPostDescription{
    display: flex;
    flex-direction: column;
    padding: 0 19px 16px 19px;
}

.postDescriptionPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

.postDescriptionPrice p{
    font-size: 16px;
    font-weight: bold;
}

.postDescriptionPrice span{
    color: #AAADB2;
    text-decoration: line-through;
    font-size: 12px;
}

.postDescriptionPrice span ~ span{
    color: white;
    text-decoration: none;
    background-color: #3BC13D;
    border-radius: 4px;
    padding: 1px 3px 1px 2px;
    font-size: 10px;
}

.postProductName{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
}

.postProductCharacteristic{
    font-size: 14px;
    margin-bottom: 10px;
    color: #AAADB2;
}

.postProductRating{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.postProductInStock{
    color: #3BC13D;
    font-size: 12px;
}

.postBasketButton{
    background: #F58735;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 8px;
    width: 184px;
    height: 36px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}