.listFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 1220px;
}

.listFilterSort{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.listFilterSort span{
    color: #898D94;
    font-size: 16px;
}

.listFilterButtons{
    display: flex;
    gap: 16px;
}

.listFilterButtons button{
    background: none;
    border: none;
}

.listFilterButtons img{
    display: flex;
    align-items: center;
}
